<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1">
    <title>MentorET</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navBarAndFooter.css">
    <!-- <link rel="stylesheet" href="/dist/css/bootstrap.min.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@1,300&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>


    <nav class="navBar navbar navbar-expand-lg sticky-top" style="background-color: #000;">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">MentorET</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #2E5895;">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end  flex-grow-1 pe-3">
                        <li class="nav-items ">
                            <a class="nav-links active" aria-current="page" href="/">Home</a>
                        </li>

                        <li class="nav-items dropdown">
                            <a class="nav-links dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Field
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <% Fields.forEach((field)=>{%>
                                <li><a class="dropdown-item" href="/articles/<%= field.name%>"><%= field.name%></a></li>
                                <% }) %>
                            </ul>
                        </li>
                        <li class="nav-items">
                            <a class="nav-links active" aria-current="page" href="/articles">Articles</a>
                        </li>
                        <li class="nav-items">
                            <a class="nav-links active" aria-current="page" href="/about">About</a>
                        </li>

                        <% if(isLoggedIn){ %>

                        <li class="nav-items">
                            <a class="nav-links active" aria-current="page" href="/profile">My Profile</a>

                        </li>
                        <li class="nav-items">
                            <a class="nav-links active" aria-current="page" href="/logout">Log Out</a>
                        </li>
                        <li class="nav-items">
                            <button class="BeMentor-btn composeBtn" type="submit"><a href="/composeArticle">compose
                                    article</a></button>
                        </li>

                        <% } else {%>

                        <li class="nav-items">
                            <button class="BeMentor-btn" type="submit"><a href="/signInUp">Be a Mentor</a></button>
                        </li>

                        <% } %>




                    </ul>
                </div>
            </div>
    </nav>


    <section class="main-banner">
        <div class="hero-container row">
            <div class="hero-description col-lg-7 col-sm-12">
                <h6 class="hero-join hero-stst">Join Our Community Today</h6>
                <div class="wrapper">

                    <div class="static-text">
                        <ul class="dynamic-texts">
                            <li><span>Mentorship for Success</span></li>
                            <li><span>Unleash Your Potential</span></li>
                            <li><span>Empower Your Journey</span></li>
                            <li><span>Connect for a Brighter Future </span></li>
                        </ul>
                    </div>
                </div>
                <p class="hero-enhance hero-stst">With</p>
                <p class="hero-uni hero-stst">Mentor-ET</p>
            </div>

            <div class="hero-image col-lg-5 col-sm-12">
                <img src="/images/mentor1.jpeg" alt="" srcset="">
            </div>

        </div>
    </section>
    <section class="description row">
        <div class="detailed-description col-lg-6 col-sm-12">

            <p class="effect-l">
                Discover a wealth of knowledge and insights from our community of volunteer
                experts on Mentor-ET. Our platform features a wide range of articles on topics that matter
                to you, including Experience sharing, Skill development, Career advice, Academic guidance,
                Research insights, Industry news, and Personal growth. Whether you're seeking to develop new skills,
                gain valuable career advice, or learn more about your field of study, Mentor-ET has got you covered.
                <br>
                <br>
                Our platform provides a space for experts to share their experiences and insights,
                helping to guide and inspire the next generation of leaders. Mentors can publish articles on the
                platform
                that can help students gain a deeper understanding of their field of study, navigate their career path,
                and develop essential skills. Join us today and tap into the wealth of knowledge and expertise available
                on Mentor-ET.
            </p>

        </div>
        <div class=" breif-description col-lg-6 col-sm-12">
            <p class="effect-r ">We believe that getting relevant and accurate information is essential for
                making informed decisions about your career and personal growth. At Mentor-ET, we are
                passionate about providing students with access to experienced mentors who can offer
                valuable insights and guidance based on their own experiences and expertise.
            </p>
        </div>

    </section>

    <section class="card-container">

        <h2 class="section-title">Most viewed Articles</h2>
        <div class="post post-container ">

            <%Articles.forEach(function(article){ %>

            <div class="post-box s-effect">

                <h2 class="post-title"><%= article.title%></h2>
                <span class="post-date"><%= article.datePublished.substring(4,15)%></span>

                <p class="post-description"><%= article.content.substring(0,300)+"..."%></p>
                       
                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    </span>
                    <span class="button-text"><a href="/articles/read/<%=article._id%>">
                        Read More
                    </a></span>
                  </button>

                <!-- <button class="read-more-button"> </button> -->
                <div class=" profile">
                    <i class="fa-solid fa-circle-user px-2 fa-2xl"></i>
                    <span class="profile-name"><%= article.author%></span>
                </div>
            </div>

            <% }) %>
    </section>


    <section id="Something">
        <!-- <h1>something</h1> -->
    </section>
    <section id="FAQ">
        <div class="container s-effect">
            <h1>FAQ'S</h1>
            <div class="faq effect-l row">
                <h3 class="col-11">What is Mentor-ET?</h3>
                <img class="col-1" src="/images/arrow.svg" alt="">
                <p>Mentor-ET is a mentorship platform that connects high school and university students with experienced
                    mentors who are willing to share their knowledge and insights.</p>
            </div>
            <div class="faq effect-r row">
                <h3 class="col-11">Who can use Mentor-ET?</h3>
                <img class="col-1" src="/images/arrow.svg" alt="">
                <p>Mentor-ET is available to high school and university students as well as to experienced professionals
                    who are willing to share their knowledge and insights by becoming mentors.</p>
            </div>
            <div class="faq effect-l row">
                <h3 class="col-11">How do I sign up to become a mentor on Mentor-ET?</h3>
                <img class="col-1" src="/images/arrow.svg" alt="">
                <p>To sign up as a mentor on Mentor-ET, you need to visit the website and create an account by filling
                    in your personal details and relevant information about your field of expertise. Once you have been
                    approved by the platform's admin team, you can start sharing your knowledge and insights with
                    students.</p>
            </div>
            <div class="faq effect-r row">
                <h3 class="col-11">Is Mentor-ET in its fully released version or still in MVP?</h3>
                <img class="col-1" src="/images/arrow.svg" alt="">
                <p>Mentor-ET is currently in its MVP stage, but we are constantly working on improving and expanding the
                    platform to provide the best possible mentorship experience for our users.</p>
            </div>
        </div>



    </section>


    <footer class="  py-5 ">
        <div class="row">
          <div class="col-lg-6 col-sm-12 justify-content-center">
            <h5 class="footer-heading">Contact Us</h5>
    
            <ul class="list-unstyled py-5 row  overflow-x-hidden">
              <div class="main col-12 justify-content-center">
                <div class="up ">
                  <button class="card1">
                    <i class="fa-brands fa-linkedin px-3 fa-2xl mb-1" style="color: #2E5895;"></i> </button>
                  <button class="card2">
                    <i class="fa-brands fa-telegram px-1 fa-2xl mb-1" style="color: #2E5895;"></i> </button>
                </div>
                <div class="down">
                  <button class="card3">
                    <i class="fa-brands fa-facebook px-2 fa-2xl mb-3" style="color: #2E5895;"></i> </button>
                  <button class="card4">
                    <i class="fa-solid fa-envelope px-2 fa-2xl mb-3" style="color:  #2E5895;"></i> </button>
                </div>
              </div>
    
            </ul>
          </div>

            <div class="newsletter col-lg-5 col-sm-12 ">
                <form action="/subscribeEmail" method="post">
                    <h5 class="footer-heading">Subscribe to our newsletter</h5>
                    <p>Never miss a thing. Subscribe to our newsletter for all the latest updates.</p>
                    <div class="flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="Email-input" name="emailAdress"
                            placeholder="Email address">
                            <textarea name="commnet" id="comment" cols="30" rows="4" placeholder="Enter your comment here(Optional)"></textarea>
                        <button class="subscribe-btn" type="submit"> <strong>Subscribe</strong> </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between my-4 border-top">
            <p>&copy; 2023 Mentor-ET, Inc. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
    </script>
    <!-- <script src="/dist/js/bootstrap.min.js"></script> -->
    <script src="/js/home.js"></script>
    <script src="https://kit.fontawesome.com/e6213c5304.js" crossorigin="anonymous"></script>
    <!-- font awesome -->
</body>

</html>